# Install from PyPI
numpy<2
colored_traceback
cython
h5py
hydra-core
light-the-torch
utaupy
pyworld
pyyaml
tqdm

# Install from GitHub -----------------
git+https://github.com/oatsu-gh/nnmnkwii@enunu-python12
git+https://github.com/oatsu-gh/nnsvs@enunu-python12
git+https://github.com/oatsu-gh/HN-UnifiedSourceFilterGAN@enunu-python12
git+https://github.com/oatsu-gh//ParallelWaveGAN@enunu-python12
git+https://github.com/nnsvs/SiFiGAN
